* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.font-hindi {
  font-family: 'Noto Sans Devanagari', sans-serif;
}